* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    /* Gia tri mac dinh cua 1 rem = 16px  */
    /* 1 rem = 18px neu dat font size bang 18px */
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    color: #212529;
    background-color: white;
    letter-spacing: 1px;
    /* letter spacing la tao khoang cach cho 1 chu  */
}

button {
    background-color: #ff0e83;
    border: 1px solid white;
    border-radius: 4px;
    padding: 13px 32px;
    font-size: 0.875rem;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all 0.5s;
}

button:hover {
    background-color: white;
    border-color: #ff0e83;
    color: #212529;

}

/* START HEADER  */

header {
    background-color: #4e2a84;
    padding: 20px 0;
    position: fixed;
    z-index: 100;
    width: 100%;
    position: fixed;
}

.header__content {
    margin: auto;
    width: 70%;
    display: flex;
    /* flex sẽ giúp các thành phần thẻ con canh chung 1 hàng  */
    /* phải khai báo flex ở thẻ cha chứa thành phần con  */
    /* chỉ có thẻ mà dùng display flex thì mới có thể dùng justify-content và align items */
    justify-content: space-around;
    align-items: center;
}

.header__content p {
    float: left;
    /* font-size: 37px; */
    font-size: 2.3rem;
    color: white;
}

.header__content ul {
    list-style: none;

}

.header__content ul .active a {
    color: #ff0e83;
}

.header__content ul a {
    text-decoration: none;
    color: white;
    font-size: 0.75rem;
    font-weight: 700;
    /* khoảng cách giữa các kí tự là letter spacing  */
    letter-spacing: 2px;
    transition: all 0.5s;
}

/* khi rê chuột vào thẻ nào thì sử dụng hover cho thẻ đó  */
.header__content ul a:hover {
    color: #ff0e83;

}

.header__content ul li {
    display: inline;
    margin: 0 1rem;

}

/* END HEADER  */


/* CAROUSEL  */

.carousel {
    background-image: url(../image/b3.jpg);
    background-size: cover;
    background-position: center;
    height: 800px;
    color: white;
    text-align: center;
    /* CANH GIỮA NỘI DUNG CỦA THẺ CON SO VỚI THẺ CHA BÊN NGOÀI  
    VỚI ĐIỀU KIỆN THẺ CHA CHỈ ĐƯỢC PHÉP CÓ 1 THẺ CON*/
    display: flex;
    /* Canh thẻ con của flex theo chiều ngang
    thẻ con ở đây là carousel__content */
    justify-content: center;
    /* canh thẻ con của flex theo chiều dọc */
    align-items: center;
}

.carousel__content h1 {
    font-size: 3.5rem;

}

.carousel__content p {
    font-size: 1.1rem;
    padding: 23px 0;
}

/* INTRO  */

.intro {
    display: grid;
    /* grid-template-columns: 25% 25% 25% 25%; */
    /* grid-template-columns: repeat(4,25%); */
    /* Trong repeat thì 4 là số column và 25% là kích thước của column  */
    grid-template-columns: repeat(4, 1fr);
    /* fr là phân số
    1 fr là 1 /4  */
}

.intro__ab1 {
    /* số line bắt đầu của item  */
    /* số line kết thúc  */
    /* số cột mà column chiếm  */
    grid-column: 2 / 4;
    /* nếu chiếm 2 cột thì span 2 , 3 cột thì span 3 */
    /* grid-column: 2 / span 2; */
}

.intro__bake {
    grid-column: 1 / 3;
    /* grid-column: 1 / span 2; */
}

.intro__ab4 {
    grid-column: 3 / 5;
}

.intro__item img {
    width: 100%;
    display: block;
}

.intro__item {
    display: flex;
    text-align: center;
    align-items: center;
    /* justify-content: center; 
    chỉ dùng khi thẻ con còn khoảng trống
    thẻ con nhỏ hơn thẻ cha và thẻ con còn khoảng trống */
}

.intro__item h3 {
    color: white;
    font-size: 24px;
    margin-bottom: 16px;
    font-weight: 700;
}

.intro__item p {
    font-size: 14px;
    color: #c1c1c1;
    line-height: 29px;
}

.intro .intro__item:first-child {
    background-color: #4e2a84;

}

.intro__text {
    padding: 0 32px;

}

.intro .intro__item:nth-child(3) {
    background-color: #ff0e83;
}

.intro .intro__item:nth-child(4) {
    background-color: #ed6498;
}

.intro .intro__item:nth-child(6) {
    background-color: #836eaa;
}

.intro .intro__item:nth-child(8) {
    background-color: #4e2a84;
}

/* START NUMBER  */
.number {
    padding: 70px 0;
}

.number__content {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.number__item p:first-child {
    color: #4e2a84;
    font-size: 32px;
    font-weight: 600;
}

.number__item p:last-child {
    color: #212529;
    font-size: 22.4px;
    padding: 24px 0;
    letter-spacing: 2px;
    font-weight: 700;

}

/* END NUMBER  */

/* START SERVICES  */

.services {
    background-image: url(../image/s1.jpg);
    background-size: cover;
    text-align: center;
    padding: 70px 0;
}

.services__content {
    display: flex;
    width: 70%;
    margin: 0 auto;

}

.services h2 {
    color: white;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 3rem;
    text-align: center;
    letter-spacing: 2px;
}

.services__item {
    padding: 20px;
}

.services__item i {
    width: 105px;
    height: 105px;
    line-height: 105px;
    border: 1px solid #4e2a84;
    border-radius: 50%;
    background-color: white;
    color: #4e2a84;
    font-size: 3.75rem;
    transition: all .5s;
}

.services__item:hover i {
    color: #ff0e83;
}

.services__item h3 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 17px 0;
}

.services__item p {
    font-size: 0.875rem;
    line-height: 25px;
    margin-bottom: 12px;
}

.services__item button {
    padding: 12px 27px;
    border-width: 2px;
}

/* GALLERY   */
h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 3rem;
    text-align: center;
    letter-spacing: 2px;
}

.gallery {
    padding: 70px 0;
}


.gallery__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-gap */
    /* khong co grid thi khong the dung gap  */
    gap: 30px;
    padding: 0 15px;
}

.gallery__item img {
    width: 100%;
    height: 100%;
    display: block;
}

.gallery__g1 {
    /* grid-column: 1 / 3; */
    grid-column: 1 / span 2;
}

.gallery__g6 {
    grid-column: 3 / span 2;
}

.gallery__item {
    position: relative;
    overflow: hidden;
}

.gallery__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    padding: 38px 28px;
    text-align: right;
}

.gallery__overlay h3 span {
    font-weight: 300;
}

.gallery__overlay h3 {
    font-size: 1.875rem;
    transform: translateY(20px);

}



/* .gallery__overlay h3::before {
    content: "The ";
}

.gallery__overlay h3::after {
    content: " !";
} */


.gallery__overlay h3::after {
    content: "";
    width: 100%;
    height: 5px;
    background-color: white;
    display: block;
    margin-top: 10px;
    transform: translateY(20px);
    transition: all 0.5s;
    opacity: 0;



}

.gallery__item:hover .gallery__overlay h3 {
    transform: translateY(0);
    transition: all 0.5s;
}

.gallery__item:hover .gallery__overlay h3::after {
    transform: translateY(0);
    opacity: 1;


}




/* START BACKTOTOP */

.BackToTop {
    position: fixed;
    right: 50px;
    bottom: 50px;
    visibility: hidden;
    opacity: 0;
}
.BackToTop i {
    color: #0BBBCC;
    border: 2px solid #0BBBCC;
    width: 40px;
    height: 40px;
    font-size: 2rem;
    text-align: center;
    line-height: 36px;
    border-radius: 50%;
}
.cd-top--is-visible { 
    visibility: visible;
    opacity: 1;
  }